<%- include ('includes/header') %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Passport App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav navbar-nav navbar-right" href="/users/logout">Log Out</a>
      </li>

    </ul>
    
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    <h1>Members Area</h1>
    <p class="lead">Welcome to Members Area</p>
  </div>

</main><!-- /.container -->

<%- include ('includes/footer') %>